{
  "Entries": [
    {
      "RequestUri": "https://jolovquality-azconfig-net.azconfig.io/kv/FontColor?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "1.0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Bnb0q1E6wl8aFxbMB2NZgo1DsqW\u0022",
        "Last-Modified": "Thu, 22 Oct 2020 02:28:17 GMT",
        "Sync-Token": "zAJw6V16=MjoyIzMwNDYzNzYjNj0tMQ==;sn=3046376"
      },
      "ResponseBody": {
        "etag": "Bnb0q1E6wl8aFxbMB2NZgo1DsqW",
        "key": "FontColor",
        "label": null,
        "content_type": "text/plain",
        "value": "Green",
        "tags": {},
        "locked": false,
        "last_modified": "2020-10-22T02:28:17\u002B00:00"
      }
    }
  ],
  "Variables": {
    "API-LEARN_ENDPOINT": "https://jolovquality-azconfig-net.azconfig.io",
    "RandomSeed": "1413014802"
  }
}